mixin recursive_loop(array, depth, current, prefix)
  - var i = 0
  each content, element in array
    a(class=(element === current ? "selected" : ""),href=prefix+content.url) 
      .element(style="text-indent:"+depth*15+"px;") 
        if (depth===0)
          // Nothing
        else if (i === Object.keys(array).length-1)
          | └
        else 
          | ├
        | #{element===current ? "╳" : "─"} #{content.name}
    if content.children
      +recursive_loop(content.children, depth+1, current, prefix)
    - i++


doctype html
html
  head
    title #{website.name}
    link(rel="stylesheet", href="/res/css/font-awesome-all.css")
    block head
    link(rel="stylesheet", href=website.links.css)
    link(rel="icon", type="image/png", href=website.links.favicon)
    script(src="/res/js/createNewPage.js")
    script(src="/res/js/destroyPage.js")
  body
    .header(style=(website.links.header ? "background-image:url('"+website.links.header+"')" : "")) 
      form.userBar(method="POST", action="/"+(user.canWrite ? "logout" : "login"), id="loginForm")
        // i #{user.ip}
        #loginError
        if (user.canWrite)
          label(for="logout") #{user.name}
          input(type="submit", name="logout", value="Logout")
        else
          label(for="login") Login
          input(type="text", name="login")
          label(for="pass") Pass
          input(type="password", name="pass")
          input(type="submit", value="🡆")
      include elements/header.pug
    .mainContainer
      .navigation 
        include elements/navigation.pug
      .content
        if (error)
          div !{error.data}
        
        else
          block content
      
    // Loading animation
    #loadingContainer
      div(style="display:flex; flex-direction:column;height:100%;justify-content:center;")
        div(style="display:flex; flex-direction:row;width:100%;justify-content:center;")
          .sk-cube-grid
            .sk-cube.sk-cube1
            .sk-cube.sk-cube2
            .sk-cube.sk-cube3
            .sk-cube.sk-cube4
            .sk-cube.sk-cube5
            .sk-cube.sk-cube6
            .sk-cube.sk-cube7
            .sk-cube.sk-cube8
            .sk-cube.sk-cube9

    // Footer infos
    .footer
      include elements/footer.pug
