mixin recursive_loop(array, depth, current, prefix)
  - var i = 0
  each content, element in array
    a(class=(element === current ? "selected" : ""),href=prefix+content.url) 
      .element(style="text-indent:"+depth*15+"px;") 
        if (i === Object.keys(array).length-1)
          | └
        else if (depth===0 && i===0)
          | ┌
        else 
          | ├
        | #{element===current ? "⦿" : "○"} #{content.name}
    if content.children
      +recursive_loop(content.children, depth+1, current, prefix)
    - i++


doctype html
html
  head
    title #{website.name}
    link(rel="stylesheet", href="/res/css/font-awesome-all.css")
    block head
    link(rel="stylesheet", href=website.links.css)
    link(rel="icon", type="image/png", href=website.links.favicon)
  body
    .header(style=(website.links.background ? "background-image:url('"+website.links.background+"')" : "")) 
      .userBar
        i #{user.ip}
      include elements/header.pug
    .mainContainer
      .navigation 
        include elements/navigation.pug
      .content
        if (error)
          div !{error.data}
        
        else
          block content
      
    .footer
      include elements/footer.pug
