mixin embed(websiteName, pageName, thumbnail)
    meta(property="og:title", content=websiteName)
    meta(property="og:description", content=pageName)
    meta(property="Description", content=pageName)
    meta(property="og:image", content=thumbnail)

    meta(name="twitter:card" content="summary")
    meta(name="twitter:title" content=websiteName)
    meta(name="twitter:description" content=pageName)
