extends ../layout/default.pug

block head
  // Editor
  link(rel="stylesheet", href="/res/css/simplemde.min.css")
  link(rel="stylesheet", href="/res/css/editor.css")
  script(src="/res/js/simplemde.min.js")
  script(src="/res/js/jquery.min.js")
  script(src="/res/js/editor.js")
  script(src="/res/js/fileExplorer.js")
  script
    | $( document ).ready(function(){loadEntries('!{contentPath}', !{JSON.stringify(browserEntries)})})

block content
  if (hierarchy.length > 1)
    .pageAddress
      each val, index in hierarchy
        a(href=prefix+val.url, class=(val.url === page.url ? "selected" : "")) #{val.name}
        if (val.url != page.url)
          span  🡆 
  div
    textarea#editor
      | !{data}

  .fileBrowserBackground
    .fileBrowser
      #currentPath
      #folderView
      .panel
        button.uploadFile Upload
        button.close Close

